.divCards{
    display: flex;
    margin: 2%;
    padding:2%;
    flex-flow:row wrap,
}
.card2{
    box-shadow: rgba(0,0,0,0.16) 0px 3px 6px, rgba(0,0,0,0.23) 0px 3px 6px;
    padding:1%;
    height: max-content;
    margin: 5px;
    width: 19%;
}

img{
    border-radius: 9px;
    width:90%;
    margin: auto;
    display:block;
}

.card2 h5{
    text-align: center;
}

.card2 p {
    text-align:justify;
}

.card2 button{
    margin-left:50%;
    transform: translateX(-50%)
}

