.fondo {
    position: relative;
}
  
.video-fondo {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    z-index: -1;
}

.videoDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}